* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: lightgreen;
  /* position: absolute; */
}

.container {
  /* position: relative; */
  margin: auto;
  margin-top: auto;
  height: 20rem;
  border: 2px solid black;
  width: 12rem;
  /* top right bottpm left */
}
