<body>
  <div class="outerContainer">
    <div class="fa-links">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
    <div class="fa-cpy">&copy; Aakash Private Limited</div>
    <div class="fa-a">
      <a href="/privacy">Privacy</a><a href="/terms">Terms</a>
    </div>
  </div>
</body>
