<% layout("/layouts/boilerplate.ejs") -%>
<body>
  <% for(let d of data){ %>
  <div>
    <a href="/listings/<%= d._id %>"> <%= d.title %> </a>
  </div>
  <% } %>
  <!-- <button>
    <a href="/listings/new">CREATE LISTING</a>
  </button> -->
</body>
